
body {
  background-color: #122738;
    background-position: top;
    background-repeat: repeat-x;
    background-image: url('sitepics/bg.png');
    color: #445D6D;
}
a:link {
  color: blue;
}
a:visited {
  color: blue;
}
a:hover {
  color: #8a1c0f;
}
a:active {
  color: yellow;
}
div.container {
  margin: 0em;
  width: 100%;
  line-height: 150%;
  text-align: center;
  height: auto;
}
div.header {
  padding: 0em;
  width: 99%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  color: black;
}
div.content {
  border: medium dotted black;
  padding: 1em;
  margin-left: auto;
  -moz-border-radius-topleft: 10px;
  -moz-border-radius-topright: 10px;
  -moz-border-radius-bottomright: 10px;
  -moz-border-radius-bottomleft: 10px;
  color: black;
  background-color: #CCCCCC;
  width: 52em;
  height: auto;
  margin-right: auto;
}
p.left {
  text-align: left;
  text-indent: 1cm;
  color: black;
  font-size: 1em;
}
p.links {
  text-align: left;
  color: white;
}
p.center {
  text-align: center;
  color: white;
}
p.small {
  line-height: 90%;
  font-size: 95%;
  text-align: left;
  text-indent: 1cm;
  color: white;
}
p.smaller {
  line-height: 90%;
  font-size: 75%;
  text-align: left;
  text-indent: 2cm;
  color: gray;
  text-decoration: underline;
}
h1 {
  text-align: left;
  font-size: 200%;
  text-decoration: underline;
  color: black;
}
h2 {
  text-align: left;
  font-size: 165%;
  text-decoration: underline;
}
h3 {
  text-align: center;
  font-size: 110%;
}
div.img
{
        display: -moz-inline-stack;
	display: inline-block;
	vertical-align: top;
	zoom: 1;
	*display: inline;
  margin: 2px;
  height: 250px;
  width: auto;
  text-align: center;
}
div.img img
{
  display: inline;
  margin: 3px;
  border: 1px solid #cccccc;
}
a:hover img
{
border: 1px solid blue;
}
div.desc
{
  text-align: center;
  font-weight: normal;
  color: black;
  width: 200px;
  margin: 2px;
}

.login-form {
			width: 300px;
			margin: 0 auto;
			font-family: Tahoma, Geneva, sans-serif;
		}
		.login-form h1 {
			text-align: center;
			color: #4d4d4d;
			font-size: 24px;
			padding: 20px 0 20px 0;
		}
		.login-form input[type="password"],
		.login-form input[type="text"] {
			width: 100%;
			padding: 15px;
			border: 1px solid #dddddd;
			margin-bottom: 15px;
			box-sizing:border-box;
		}
		.login-form input[type="submit"] {
			width: 100%;
			padding: 15px;
			background-color: #535b63;
			border: 0;
			box-sizing: border-box;
			cursor: pointer;
			font-weight: bold;
			color: #ffffff;
		}
